<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/9c8d5d58ab.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>

        <div class="logo-titulo">
            <img class="img-logo" src="\images\logo-mercado-liebre.svg" alt="imagen">
            <div class="search">
                <input class="input-search" type="text" placeholder="buscar productos, marcas">
                <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <h4 class="titulo-header"><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</h4>
            
        </div>


        

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <nav class="nav-links">
            <ul>
                <li><a href="#">ofertas</a></li>
                <li><a href="#">tiendas oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <img class="imagen-banner" src="\images\img-home-banner.jpg" alt="">
    </header>
    

    <main>
        <h4 class="titulos">basado en tu ultima visita</h4>
        <section class="main-section">


            <article class="producto">
                <img class="img" src="\images\img-cafetera-moulinex.jpg" alt="">
                <div class="detalle-producto">
                <div class="truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                    <div class="precio-descuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripcion">cafetera moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img class="img" src="\images\img-macbook-pro-2019.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripcion">mac book pro 2019</p>
                </div>
            </article>

            <article class="producto">
                <img class="img" src="\images\img-samsung-galaxy-s10.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripcion">samsung galaxy s10</p>
                </div>
            </article>

            <article class="producto">
                <img class="img" src="\images\img-tv-samsung-smart.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripcion">smartTV samsung 43"</p>
                </div>
            </article>
        </section>


        <h4 class="titulos">seccion ofertas</h4>
        <section class="main-section">
            

            <article class="producto">
                <img class="img" src="\images\img-cafetera-moulinex.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripcion">cafetera moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img class="img" src="\images\img-macbook-pro-2019.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripcion">mac book pro 2019</p>
                </div>
            </article>

            <article class="producto">
                <img class="img" src="\images\img-samsung-galaxy-s10.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripcion">samsung galaxy s10</p>
                </div>
            </article>

            <article class="producto">
                <img class="img" src="\images\img-tv-samsung-smart.jpg" alt="">
                <div class="detalle-producto">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripcion">smartTV samsung 43"</p>
                </div>
            </article>
        </section>
    </main>


    <section class="footer">
        <article class="article-footer">
            <i class="fa-solid fa-credit-card icon-footer"></i>
            <h4 class="title-footer">paga con tarjeta o en efectivo</h4>
            <p class="text-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="article-footer">
            <i class="fa-solid fa-gift icon-footer"></i>
            <h4 class="title-footer">Envío gratis desde $ 2.500</h4>
            <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="article-footer">
            <i class="fa-solid fa-user-shield icon-footer"></i>
            <h4 class="title-footer">Seguridad, de principio a fin</h4>
            <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article class="article-footer">
            <p class="text-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </section>
    
</body>
</html>