<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
rel="stylesheet" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
  
    
    <script src="https://kit.fontawesome.com/aa410f45e4.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <div class="link-logo">
                <a href="/"><img style="display: block;" class="logo" src="/images/logo-mercado-liebre.svg" alt="Logotipo"></a>
            </div>
            <form class="search-box" action="#" method="GET">
                <input class="search-txt" type="text" placeholder="Buscar productos, marcas...">
                <div class="fa fa-search"></div>
            </form>
            <h2 class="slogan">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fas fa-user-alt"></i></li></a>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></li></a>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></li></a>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>
    <section class="banner">
        <img style="width: 100%;" src="images/img-home-banner.jpg" alt="banner">
    </section>
    <main>
        <section>
            <h3 style="margin-top: 20px;">Basado en tu ultima visita</h3>
            <div class="articulos">
                <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                </article>
                <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                            <h4 class="descripcion">Macbook Pro 2019</h4>
                        </div>
                </article>
                <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                </article>
                <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h4 class="descripcion">SmartTV Samsung 43</h4>
                        </div>
                </article>
            </div>
        </section>
        <section class="section.ofertas">
            <h3 style="margin-top: 20px;">Ofertas</h3>
            <div class="articulos">
                <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                </article>
                <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                            <h4 class="descripcion">Macbook Pro 2019</h4>
                        </div>
                </article>
                <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                </article>
                <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="">
                        <div class="main-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h4 class="descripcion">SmartTV Samsung 43</h4>
                        </div>
                </article>
            </div>
        </section>
    </main>
    <br>
    <footer>
        <section class="main-footer">
            <div class="footer-div">
                <i class="icon-footer fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-div">
                <i class="icon-footer fa-solid fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-div">
                <i class="icon-footer fa-solid fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <div class="copyright">
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>