<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrese en Mercado Liebre</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <img class="img-logo" src="\images\logo-mercado-liebre.svg" alt="imagen">
    </header>
    <section>
        <form class="form-register" action="/register" method="post">
            <input class="inputs-register" type="text" placeholder="nombre y apellido:" name="nombre-apellido">
            <input class="inputs-register" type="text" placeholder="nombre de usuari@:" name="nombre-usuario">
            <input class="inputs-register" type="email" placeholder="E-mail:" name="email">
            <div class="titulo-fecha">
                <h4>Fecha de nacimiento</h4>
            </div>
            <input class="inputs-register" type="date" placeholder="fecha de nacimiento:" name="fecha-nacimiento">          
            <input class="inputs-register" type="text" placeholder="domicilio:" name="domicilio">
            <label class="label-register" for="tipo-usuario">perfil del usuario</label>


            <div class="main-radio-register">

                <div class="radio-register">
                    <input class="rad-reg" type="radio" value="comprador"><p>comprador</p>
                </div>
                <div class="radio-register">
                    <input class="rad-reg" type="radio" value="vendedor"><p>vendedor</p>
                </div>
                
            </div>

            
            <div class="main-cbox-register">
                <label class="label-register" for="intereses:">intereses</label>
                    <div class="checkbox-register">
                        <input type="checkbox" name="intereses" value="electro"><p>electro</p>
                    </div>
                    <div class="checkbox-register">
                        <input type="checkbox" name="intereses" value="moda"><p>moda</p>
                    </div>
                    <div class="checkbox-register">
                        <input type="checkbox" name="intereses" value="hogar"><p>hogar</p>
                    </div>
                    <div class="checkbox-register">
                        <input type="checkbox" name="intereses" value="jugueteria"><p>jugueteria</p>
                    </div>
                    <div class="checkbox-register">
                        <input type="checkbox" name="intereses" value="vida-sana"><p>vida sana</p>
                    </div>
            </div>
        </form>
    </section>
</body>
</html>